html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url('images/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#header-panel, #footer-panel {
  padding: 0px;
  width: 100%;
  float: left;
}
#header-panel {
  height: 15%;
}
#footer-panel {
  height: 25%;
}
#middle-panel {
  padding: 0px;
  width: 100%;
  height: 60%;
  float: left;
}
#left-margin, #right-margin {
  padding: 0px;
  width: 10%;
  height: 100%;
}
#left-margin {
  float: left;
}
#right-margin {
  float: right;
}
#header-panel #yellow {
  width: 40%;
  height: 100%;
  float: left;
  color: #bcffa5;
}
#header-panel #black {
  width: 40%;
  height: 100%;
  float: right;
  color: #ffeb7f;
}

#header-panel div.spacer {
  width: 20%;
  height: 10%;
  float: left;
}
#header-panel div.score {
  width: 40%;
  height: 100%;
  float: left;
  text-align: center;
}
#header-panel #game {
  padding: 0px;
  width: 20%;
  height: 100%;
  text-align: center;
  color: white;
  float: left;
}
#header-panel div.total {
  width: 40%;
  height: 100%;
  float: left;
  text-align: center;
}

#player-box {
  padding: 0px;
  margin: auto;
  width: 80%;
  height: 100%;
  float: left;
}
#player-box div.player { 
  width: 50%;
  height: 47.5%;
  margin: auto;
  padding: 0px;
  padding-top: 2%;
  float: left;
  text-align: center;
  font: 3em arial, verdana, sans-serif;
}
#player-box div.card {
  width: 90%;
  height: 90%;
  margin: auto;
  padding: 0px;
}
#player-box div.photo {
  width: 50%;
  height: 75%;
  margin: auto;
  padding: 0px;
  background-color: red;
}

#footer-panel div.clearer {
  width: 100%;
  height: 10%;
  clear: both;
  float: left;
}
#footer-panel div.spacer {
  width: 6%;
  height: 10%;
  float: left;
}
#footer-panel #own-goal {
  padding: 0px;
  width: 88%;
  height: 35%;
  float: left;
  text-align: center;
  font: 3em arial, verdana, sans-serif;
}
#footer-panel #undo {
  padding: 0px;
  width: 42%;
  height: 35%;
  text-align: center;
  float: left;
}
#footer-panel #new-game {
  padding: 0px;
  width: 40%;
  height: 35%;
  text-align: center;
  float: left;
}
span.small {
  font: 1.5em arial, verdana, sans-serif;
}
span.medium {
  font: 3em arial, verdana, sans-serif;
}
span.big {
  font: 5em arial, verdana, sans-serif;
}
span.huge {
  font: 7em arial, verdana, sans-serif;
}
